<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#"  >Cibertec-Grupo 06</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Edificio
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraEdificio" class="dropdown-item">Crear edificio</a>
            <a routerLink="consultaEdificio" class="dropdown-item">Consulta edificio</a>
            <a routerLink="crudEdificio" class="dropdown-item">Crud edificio</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Departamento
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraDepartamento" class="dropdown-item">Crear departamento</a>
            <a routerLink="consultaDepartamento" class="dropdown-item">Consulta departamento</a>
            <a routerLink="crudDepartamento" class="dropdown-item">Crud departamento</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Propietario
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraPropietario" class="dropdown-item">Crear propietario</a>
            <a routerLink="consultaPropietario" class="dropdown-item">Consulta propietario</a>
            <a routerLink="crudPropietario" class="dropdown-item">Crud propietario</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Mascotas
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraMascotas" class="dropdown-item">Crear mascotas</a>
            <a routerLink="consultaMascotas" class="dropdown-item">Consulta mascotas</a>
            <a routerLink="crudMascotas" class="dropdown-item">Crud mascotas</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Visitante
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraVisitante" class="dropdown-item">Crear visitante</a>
            <a routerLink="consultaVisitante" class="dropdown-item">Consulta visitante</a>
            <a routerLink="crudVisitante" class="dropdown-item">Crud visitante</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

 <!--* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

